[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Virusparies"]
	path = Virusparies
	url = https://github.com/sergejruff/virusparies
[submodule "lovecraftr"]
	path = lovecraftr
	url = https://github.com/sergejruff/lovecraftr
